/*********************************************
 * Custom link colours 
 *********************************************/
.reveal a {
  color: royalblue;
}

.reveal a:hover {
  color: mediumvioletred;
}

/* Flex layout */
.container{
    display: flex;
}
.col-photo{
    flex: 2;
}
.col-content{
    flex: 5;
}

/* Custom shadow */
.reveal section img {
    box-shadow: 
        rgb(0 0 0 / 9%) 0 2px 1px, 
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px, 
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px; 
}

/* Media layout */

.media {
  display: flex;
  align-items: flex-start;
  background: lightgrey; /* #F6F3EB; */
  padding: 1em;
  border-radius: 3px;
  max-width: 29em;
}
.media-object {
  margin-right: 3em;
}
.media-body {
  text-align: left;  
  padding: 1em;
  flex: 1;
}
.media-heading {
  margin: 0 0 0.5em;
}
