/*********************************************
 * Custom link colours 
 *********************************************/
.reveal a {
  color: royalblue;
}

.reveal a:hover {
  color: mediumvioletred;
}

/* Flex layout */
.container{
    display: flex;
    align-items: center;
}
.col-photo{
    order: 2;
    flex: 2;
}
.col-content{
    flex: 5;
}

/* Custom shadow */
.reveal section img {
    box-shadow: 
        rgb(0 0 0 / 9%) 0 2px 1px, 
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px, 
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px; 
}
