/*********************************************
 * Custom link colours 
 *********************************************/
.reveal a {
  color: royalblue;
}

.reveal a:hover {
  color: mediumvioletred;
}

/* Flex layout */
.container{
    display: flex;
    align-items: flex-start;
}
.col-photo{
    order: 2;
    flex: 2;
}

.col-content-1{
    flex: 1;
}
.col-content-2{
    flex: 2;
}
.col-content-3{
    flex: 3;
}
.col-content-4{
    flex: 4;
}
.col-content-5{
    flex: 5;
}
.col-content-6{
    flex: 6;
}

/* Custom shadow */
.reveal section img {
    box-shadow: 
        rgb(0 0 0 / 9%) 0 2px 1px, 
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px, 
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px; 
}

.reveal section h2 {
	text-align: left;
}
/* .reveal section ul { */
/* 	text-align: left; */
/* } */
